<a href="https://colab.research.google.com/github/almemanuel/BR-presidential-card/blob/prot/Prototipa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Para este projeto, será necessário utilizar uma base existente no BigQuery, criado pela Base dos Dados. O material de referência inicial está [aqui](https://basedosdados.org/dataset/br-sgp-informacao?bdm_table=despesas_cartao_corporativo)

In [22]:
!pip install basedosdados pandas numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: basedosdados in /usr/local/lib/python3.8/dist-packages (1.6.10)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)
Requirement already satisfied: google-cloud-bigquery==2.30.1 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (2.30.1)
Requirement already satisfied: loguru<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (0.6.0)
Requirement already satisfied: pandavro<2.0.0,>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (1.7.1)
Requirement already satisfied: shapely<2.0.0,>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (1.8.5.post1)
Requirement already satisfied: tomlkit==0.7.0 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (0.7.0)
Requirement already satisfied: pandas-gbq<0.18.0,>=0.17.4 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (0.17.9)
Requirement already satisfied: pyarrow==6.0.0 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (6.0.0)
Requirement already satisfied: tqdm==4.50.2 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (4.50.2)
Requirement already satisfied: pyaml==20.4.0 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (20.4.0)
Requirement already satisfied: importlib-metadata<5.0.0,>=4.11.3 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (4.13.0)
Requirement already satisfied: ruamel.yaml==0.17.10 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (0.17.10)
Requirement already satisfied: google-cloud-bigquery-storage==1.1.0 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (1.1.0)
Requirement already satisfied: Jinja2==3.0.3 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (3.0.3)
Requirement already satisfied: toml<0.11.0,>=0.10.2 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (0.10.2)
Requirement already satisfied: ckanapi==4.6 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (4.6)
Requirement already satisfied: click==8.0.3 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (8.0.3)
Requirement already satisfied: google-cloud-storage==1.42.3 in /usr/local/lib/python3.8/dist-packages (from basedosdados) (1.42.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from ckanapi==4.6->basedosdados) (57.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from ckanapi==4.6->basedosdados) (2.25.1)
Requirement already satisfied: docopt in /usr/local/lib/python3.8/dist-packages (from ckanapi==4.6->basedosdados) (0.6.2)
Requirement already satisfied: six<2.0,>=1.9 in /usr/local/lib/python3.8/dist-packages (from ckanapi==4.6->basedosdados) (1.15.0)
Requirement already satisfied: python-slugify>=1.0 in /usr/local/lib/python3.8/dist-packages (from ckanapi==4.6->basedosdados) (7.0.0)
Requirement already satisfied: proto-plus>=1.10.0 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery==2.30.1->basedosdados) (1.22.2)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery==2.30.1->basedosdados) (2.4.0)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery==2.30.1->basedosdados) (21.3)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery==2.30.1->basedosdados) (2.3.2)
Requirement already satisfied: google-api-core[grpc]<3.0.0dev,>=1.29.0 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery==2.30.1->basedosdados) (1.34.0)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery==2.30.1->basedosdados) (3.19.6)
Requirement already satisfied: grpcio<2.0dev,>=1.38.1 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery==2.30.1->basedosdados) (1.51.1)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.8/dist-packages (from google-cloud-bigquery==2.30.1->basedosdados) (2.8.2)
Requirement already satisfied: google-auth<3.0dev,>=1.25.0 in /usr/local/lib/python3.8/dist-packages (from google-cloud-storage==1.42.3->basedosdados) (2.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from Jinja2==3.0.3->basedosdados) (2.0.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.8/dist-packages (from pyaml==20.4.0->basedosdados) (6.0)
Requirement already satisfied: ruamel.yaml.clib>=0.1.2 in /usr/local/lib/python3.8/dist-packages (from ruamel.yaml==0.17.10->basedosdados) (0.2.7)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata<5.0.0,>=4.11.3->basedosdados) (3.11.0)
Requirement already satisfied: pydata-google-auth in /usr/local/lib/python3.8/dist-packages (from pandas-gbq<0.18.0,>=0.17.4->basedosdados) (1.5.0)
Requirement already satisfied: db-dtypes<2.0.0,>=0.3.1 in /usr/local/lib/python3.8/dist-packages (from pandas-gbq<0.18.0,>=0.17.4->basedosdados) (1.0.5)
Requirement already satisfied: google-auth-oauthlib>=0.0.1 in /usr/local/lib/python3.8/dist-packages (from pandas-gbq<0.18.0,>=0.17.4->basedosdados) (0.4.6)
Requirement already satisfied: fastavro==1.5.1 in /usr/local/lib/python3.8/dist-packages (from pandavro<2.0.0,>=1.6.0->basedosdados) (1.5.1)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /usr/local/lib/python3.8/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery==2.30.1->basedosdados) (1.58.0)
Requirement already satisfied: grpcio-status<2.0dev,>=1.33.2 in /usr/local/lib/python3.8/dist-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery==2.30.1->basedosdados) (1.48.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage==1.42.3->basedosdados) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage==1.42.3->basedosdados) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3.0dev,>=1.25.0->google-cloud-storage==1.42.3->basedosdados) (5.2.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib>=0.0.1->pandas-gbq<0.18.0,>=0.17.4->basedosdados) (1.3.1)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.8/dist-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery==2.30.1->basedosdados) (1.5.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=14.3->google-cloud-bigquery==2.30.1->basedosdados) (3.0.9)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify>=1.0->ckanapi==4.6->basedosdados) (1.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->ckanapi==4.6->basedosdados) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->ckanapi==4.6->basedosdados) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->ckanapi==4.6->basedosdados) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->ckanapi==4.6->basedosdados) (2.10)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.25.0->google-cloud-storage==1.42.3->basedosdados) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.0.1->pandas-gbq<0.18.0,>=0.17.4->basedosdados) (3.2.2)

In [6]:
import basedosdados as bd

# Para carregar o dado direto no pandas
df = bd.read_table(dataset_id='br_sgp_informacao',
table_id='despesas_cartao_corporativo',
billing_project_id="br-presidential-card")

Downloading: 100%|██████████| 113340/113340 [00:12<00:00, 9384.95rows/s]

In [7]:
df

,ano,presidente,data_pagamento,cpf_servidor,cpf_cnpj_fornecedor,nome_fornecedor,tipo,subelemento_despesa,cdic,valor
0,2003,Lula,2003-01-02,***.010.008-**,31349202000177,JW TRANSPORTADORA TURÍSTICA,D,LOCACAO DE MEIOS DE TRANSPORTE,00200.220539/2003-63.R.08.18/12/2002.31/12/2014.N,1696.90
1,2003,Lula,2003-01-02,***.010.008-**,31349202000177,JW TRANSPORTADORA TURÍSTICA,D,LOCACAO DE MEIOS DE TRANSPORTE,00200.220539/2003-63.R.08.18/12/2002.31/12/2014.N,1336.60
2,2003,Lula,2003-01-02,***.868.251-**,31349202000177,JW TRANSPORTADORA TURÍSTICA,D,LOCACAO DE MEIOS DE TRANSPORTE,00200.600539/2003-63.R.08.18/12/2002.31/12/2014.N,1396.43
3,2003,Lula,2003-01-03,***.004.131-**,00592717000170,FLORES ALVORADA,C,OUTROS SERVIÇOS DE TERCEIROS-PESSOA JURÍDICA,00200.800212/2003-91.R.08.07/12/2002.31/12/2014.N,8585.00
4,2003,Lula,2003-01-03,***.004.131-**,00839308000125,CRISTAL LIMPEZA - COMÉRCIO DE MATERIAIS PARA L...,C,MATERIAL DE LIMPEZA E PROD. DE HIGIENIZAÇÃO,00200.800212/2003-91.R.08.07/12/2002.31/12/2014.N,251.50
...,...,...,...,...,...,...,...,...,...,...
113335,2022,Bolsonaro,2022-12-03,***.136.591-**,17261661005728,OUTBACK STEAKHOUSE RESTAURANTES BRASIL S/A,C,FORNECIMENTO DE ALIMENTAÇÃO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,179.50
113336,2022,Bolsonaro,2022-12-03,***.136.591-**,39879944000116,BIOMUNDO 105 NORTE COMERCIO DE ALIMENTOS,C,GENEROS DE ALIMENTAÇÃO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,54.95
113337,2022,Bolsonaro,2022-12-04,***.136.591-**,47508411094975,COMPANHIA BRASILEIRA DE DISTRIBUIÇÃO,C,GENEROS DE ALIMENTAÇÃO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,518.07
113338,2022,Bolsonaro,2022-12-04,***.136.591-**,12550441000146,RESTAURANTE SOHO,C,FORNECIMENTO DE ALIMENTAÇÃO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,330.52
113339,2022,Bolsonaro,2022-12-04,***.136.591-**,03696869000100,BIG TRANS COMERCIAL DE ALIMENTOS LTDA,C,GENEROS DE ALIMENTAÇÃO,00264.000642/2022-21.R.08.25/11/2022.31/12/2022.N,54.66

In [8]:
df.columns

Index(['ano', 'presidente', 'data_pagamento', 'cpf_servidor',
       'cpf_cnpj_fornecedor', 'nome_fornecedor', 'tipo', 'subelemento_despesa',
       'cdic', 'valor'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113340 entries, 0 to 113339
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ano                  113340 non-null  Int64
 1   presidente           113340 non-null  object
 2   data_pagamento       113340 non-null  dbdate
 3   cpf_servidor         113340 non-null  object
 4   cpf_cnpj_fornecedor  113340 non-null  object
 5   nome_fornecedor      113340 non-null  object
 6   tipo                 113340 non-null  object
 7   subelemento_despesa  113340 non-null  object
 8   cdic                 113340 non-null  object
 9   valor                113339 non-null  float64
dtypes: Int64(1), dbdate(1), float64(1), object(7)
memory usage: 8.8+ MB

In [15]:
df['presidente'].value_counts()

Lula         65870
Dilma        26409
Bolsonaro    13339
Temer         7722
Name: presidente, dtype: int64

In [16]:
df['tipo'].value_counts()

C    91229
D    22111
Name: tipo, dtype: int64

In [17]:
df['subelemento_despesa'].value_counts()

HOSPEDAGENS                                   45291
GENEROS DE ALIMENTAÇÃO                        24923
FORNECIMENTO DE ALIMENTAÇÃO                    6598
SERVIÇOS DE TELECOMUNICAÇÕES                   5920
SERV.DE APOIO ADMIN.,TECNICO E OPERACIONAL     4882
                                              ...
SERVIÇOS JUDICIÁRIOS                              1
SERVIÇOS DE ÁGUA E ESGOTO                         1
MUDANÇAS EM OBJETO DE SERVIÇO                     1
COLEÇÕES E MATERIAIS BIBLIOGRÁFICOS               1
OUTRAS DESPESAS COM LOCOMOÇÃO                     1
Name: subelemento_despesa, Length: 112, dtype: int64

In [25]:
df.dropna(subset=['valor'], inplace=True)

In [28]:
df.sort_values(by='valor', ascending=False)

,ano,presidente,data_pagamento,cpf_servidor,cpf_cnpj_fornecedor,nome_fornecedor,tipo,subelemento_despesa,cdic,valor
106518,2021,Bolsonaro,2021-01-03,***.784.930-**,43426451000106,HOTUR S PAULO PART E EMPR LTDA,C,HOSPEDAGENS,00150.000815/2020-27.R.08.30/01/2021.31/12/2022.N,312903.36
46373,2008,Lula,2008-12-17,***.868.251-**,00866577000857,SAUIPE S.A - SAUIPE PARK,C,HOSPEDAGENS,00150.001957/2008-15.R.08.26/11/2008.31/12/2014.N,290176.00
110853,2022,Bolsonaro,2022-03-02,***.955.038-**,43426451000106,HOTUR S PAULO PART E EMPR LTDA,C,HOSPEDAGENS,00150.000109/2022-47.R.08.18/02/2022.31/12/2022.N,217711.45
110287,2021,Bolsonaro,2021-12-23,***.455.101-**,43426451000106,HOTUR S PAULO PART E EMPR LTDA,C,HOSPEDAGENS,00150.000759/2021-10.R.08.24/11/2021.31/12/2022.N,202936.70
106253,2020,Bolsonaro,2020-12-28,***.357.911-**,43426451000106,HOTUR S PAULO PART E EMPR LTDA,C,HOSPEDAGENS,00150.000812/2020-93.R.08.27/12/2020.31/12/2022.N,180154.20
...,...,...,...,...,...,...,...,...,...,...
70276,2011,Dilma,2011-12-06,***.067.806-**,00000000000191,B.BRASIL,C,"SERV.DE APOIO ADMIN.,TECNICO E OPERACIONAL",00150.001552/2011-82.R.08.25/09/2011.31/12/2014.N,-516.15
61207,2010,Lula,2010-08-24,***.067.806-**,00000000425109,BANCO DO BRASIL SA,C,"SERV.DE APOIO ADMIN.,TECNICO E OPERACIONAL",00150.000422/2010-41.R.08.27/02/2010.31/12/2014.N,-627.18
70149,2011,Dilma,2011-11-23,***.442.956-**,00000000000191,B.BRASIL,C,"SERV.DE APOIO ADMIN.,TECNICO E OPERACIONAL",00150.001403/2011-13.R.08.28/08/2011.31/12/2014.N,-676.74
70275,2011,Dilma,2011-12-06,***.415.618-**,00000000000191,B.BRASIL,C,"SERV.DE APOIO ADMIN.,TECNICO E OPERACIONAL",00150.001493/2011-42.R.08.25/09/2011.31/12/2014.N,-693.18
70274,2011,Dilma,2011-12-06,***.876.107-**,00000000000191,B.BRASIL,C,"SERV.DE APOIO ADMIN.,TECNICO E OPERACIONAL",00150.001474/2011-16.R.08.25/09/2011.31/12/2014.N,-1380.36

In [44]:
time_as_president = {}
for presidente in df['presidente'].unique():
    time_as_president[presidente] = df[df['presidente'] == presidente]['ano'].max() - df[df['presidente'] == presidente]['ano'].min()
time_as_president

{'Lula': 7, 'Dilma': 5, 'Temer': 1, 'Bolsonaro': 3}

In [87]:
general_total = df[['presidente', 'valor']].groupby(['presidente'],as_index=False).sum('valor').sort_values('valor', ascending=False)
general_total

  presidente        valor
2       Lula  43988510.05
1      Dilma  34409448.76
0  Bolsonaro  27621657.23
3      Temer   8869681.44

In [88]:
general_total['tempo_mandato'] = 0

for presidente in general_total.presidente:
    general_total['tempo_mandato'][general_total['presidente'] == presidente] = df[df['presidente'] == presidente]['ano'].max() - df[df['presidente'] == presidente]['ano'].min()
general_total

  presidente        valor  tempo_mandato
2       Lula  43988510.05              7
1      Dilma  34409448.76              5
0  Bolsonaro  27621657.23              3
3      Temer   8869681.44              1

In [90]:
general_total['valor_medio_por_ano'] = general_total['valor'] / general_total['tempo_mandato']
general_total

  presidente        valor  tempo_mandato  valor_medio_por_ano
2       Lula  43988510.05              7         6.284073e+06
1      Dilma  34409448.76              5         6.881890e+06
0  Bolsonaro  27621657.23              3         9.207219e+06
3      Temer   8869681.44              1         8.869681e+06